header {
  padding: 20px;
  display: flex;
  align-items: center;
}

header h1 {
  pointer-events: none;
  user-select: none;
  font-weight: 900;
  font-size: 16px;
  margin: 0;
}

header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;
  opacity: 0.9;
}

header nav a svg {
  display: block;
}