@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  word-break: break-word;
  hyphens: auto;
}

.markdown-body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
